<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551468081879-7g0ihrua3th2qps2r2nr74pn7idil4sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551468081879-7g0ihrua3th2qps2r2nr74pn7idil4sd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>551468081879-78r6mpim1nbksjs2gqiqt25muulrh4dr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYOPVda9NLMZtyQIDpsC14lfqO42BiqQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>551468081879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>joga-mais-fb74e</string>
	<key>STORAGE_BUCKET</key>
	<string>joga-mais-fb74e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551468081879:ios:eb1eb3113422b0cc3a4692</string>
</dict>
</plist>